.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000;
}
.close-modal{
  border: none;
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
}
.modal-content {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: #fffcf3;
  overflow-y: auto;
  padding: 1rem;
}
.modal-content h4 {
  font-size: 5rem;
  font-family: "Venona";
  text-align: center;
  padding: 1rem;
}
.modal-content div {
  padding: 1rem;
  text-align: justify;
  width: 50%;
}
.modal-link{
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}
.modal-content button:hover {
  transform: scale(1.02);
}
.project-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  gap: 16px;
}
.project-icons path {
  color: #fd601a;
}
@media (max-width: 1024px) {
  .modal-content div {
    width: 80%;
    margin-top: 1rem;
  }
}
