.timeline {
  margin: 5rem;
}

.timeline__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.timeline__header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.timeline__list {
  border-top: 1px solid #e0e0e0;
}

.timeline__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.timeline__year {
  font-size: 1rem;
  color: #333;
  flex-basis: 15%;
  text-align: left;
}

.timeline__project {
  font-size: 1.2rem;
  color: #333;
  flex-basis: 65%;
  text-align: left;
}

.timeline__button {
  flex-basis: 11%;
  text-align: center;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(250, 250, 250);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.timeline__button.orange {
  background-color: #ff5722;
}

.timeline__button.black {
  background-color: rgb(5, 5, 5);
}

.timeline__button.blue {
  background-color: #403dc8;
}

.timeline__button.red {
  background-color: #bb2f2b;
}
/* MediaQueries Tablet */
@media (max-width: 1024px) {
  .timeline__project {
    flex-direction: column;
    font-size: 0.9rem;
  }
}
/* MediaQueries Mobile */
@media (max-width: 768px) {
  .timeline {
    margin: 16px;
  }
  .timeline__item {
    flex-direction: column;
    align-items: center;
  }

  .timeline__year,
  .timeline__project,
  .timeline__button {
    flex-basis: auto;
    text-align: left;
    margin-bottom: 5px;
    text-align: center;
  }
}
