.introduction-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  margin: 2rem;
}

.introduction-date{
  border: 2px solid black;
  padding: 8px 16px;
  border-radius: 25px;
}